## Análise de Dados do Uber com Spark

Esse conjunto de dados contém dados de mais de 4,5 milhões de captações Uber na cidade de Nova York de abril a setembro de 2014 e 14,3 milhões de captações Uber de janeiro a junho de 2015. Dados em nível de viagem sobre 10 outras empresas de veículos de aluguel (FHV) bem como dados agregados para 329 empresas de FHV, também estão incluídos. Todos os arquivos foram recebidos em 3 de agosto, 15 de setembro e 22 de setembro de 2015.

In [1]:
from pandas import read_csv

In [2]:
uberFile = read_csv('data/uber.csv')

In [3]:
uberFile.head(5)

  dispatching_base_number      date  active_vehicles  trips
0                  B02512  1/1/2015              190   1132
1                  B02765  1/1/2015              225   1765
2                  B02764  1/1/2015             3427  29421
3                  B02682  1/1/2015              945   7679
4                  B02617  1/1/2015             1228   9537

In [5]:
# Transformando Pandas em Spark
uberDF = sqlContext.createDataFrame(uberFile)

In [10]:
# Criando o RDD
uberRDD = sc.textFile('data/uber.csv')

In [11]:
# Total de Registros
uberRDD.count()

355

In [12]:
# Primeira linha
uberRDD.first()

'dispatching_base_number,date,active_vehicles,trips'

In [16]:
#Identificando as bases de carros do Uber
uberLinhas.map(lambda linha : linha[0]).distinct().collect()

['dispatching_base_number',
 'B02765',
 'B02682',
 'B02598',
 'B02512',
 'B02764',
 'B02617']

In [19]:
# Número de bases de carros do Uber
uberLinhas.map(lambda linha: linha[0]).distinct().count() -1

6

In [17]:
# Identificando a quantidade de veículos da base B02627
uberLinhas.filter(lambda linha: "B02617" in linha).count()

59

In [25]:
# Gravando os dados em uma nova RDD
b02617_RDD = uberLinhas.filter(lambda linha: "B02617" in linha).count()

In [26]:
b02617_RDD.filter(lambda linha: int(linha[3]) > 16000).count()

AttributeError: 'int' object has no attribute 'filter'